@page "/"

<h1>Warmachine and Hordes Card Generator</h1>

<p>This is a simple web application that allows you to automatically generate and download a card pdf from <a target="_blank" href="http://cards.privateerpress.com">Privateer Press's Card Database</a>.</p>

<p>It accepts a link for a <a target="_blank" href="https://conflictchamber.com/">Conflict Chamber</a> list, and will generate a PDF from the card database using the models in the list.</p>

<h4>Notes</h4>
<ul>
    <li>1) Tool is still in development. There are A LOT of cards in the database and it is very likely I missed some models and matching up the ids. If you're having problems, please fill out the feedback form and let me know what lists/models aren't working.</li>
    <li>2) If a card is not in the card database (such as CID models) it will not show in the generated PDF.</li>
</ul>

<br />

<EditForm Model="this" OnValidSubmit="GeneratePDF">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label" for="listInput"><b>Enter List Url</b></label>
            <p style="font-size: 0.8em;">This should be the permalink from conflict chamber
            <br />
            <b>example:</b>
            https://conflictchamber.com/?cg201b_-1yo8oeoaoaoaolosonoSotoqoqororopofogovou</p>
            <InputText id="listInput" class="form-control" @bind-Value="@ConflictChamberList" />
            <br />
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="warroomText"><b>Or, Enter a WarRoom 2 List Text</b></label>
            <div class="row">
                <InputTextArea id="warroomText" class="control-label" @bind-Value="@WarRoomText" rows="8" cols="50" />
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Generate!</button>
    </div>
</EditForm>
<br />
@if (this.PDFLinks != null && this.PDFLinks.Count > 0)
{
    foreach (var link in PDFLinks)
    {
        <h3>@link.CasterName</h3>
        <p><a href="@link.PDFUrl">Download Card PDF</a></p>
        <p><span style="white-space: pre-line"> @link.ListOutput</span></p>
    }
}